<h1>Raffle#index</h1>
<div ng-controller="RaffleCtrl">
  <form class="form-horizontal" ng-submit="addEntry()">
    <div class="form-group">
      <div class="col-sm-10">
        <input type="text" class="form-control" ng-model="newEntry.name">
      </div>
      <div class="col-sm-2 addBtn">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>

  <ul>
    <li ng-repeat="entry in entries">
      {{entry.name}}
      <span ng-show="entry.winner" ng-class="{highlight: entry == lastWinner}" class="winner">WINNER</span>
      <%# display entry as a winner when draw button is click.
          ng-show="entry.winner" -> so that only winner entry that shown
          ng-class="{highlight: -> add highlight class only if entry is the last winner
      %>
    </li>
  </ul>

  <button ng-click="drawWinner()" class="drawbtn btn btn-primary">Draw Winner</button>
</div>
